# Maven #
**/target/

# Eclipse #
.metadata/
.recommenders
**/.classpath
**/.project
**/.settings/

# Servers #
/Servers/

# OS #
.DS_Store

# properties file #
**/*.properties

# mybatis generator project #
/generatorSqlmapCustom/